Source: gtklock
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               libgdk-pixbuf-2.0-dev,
               libglib2.0-dev,
               libpango1.0-dev,
               libpangocairo-1.0-0,
               libatk1.0-dev,
               libgtk-3-dev,
               libgtk-layer-shell-dev,
               libwayland-client0,
               wayland-protocols,
               libpam-dev,
	             libxml2-utils,
Rules-Requires-Root: no

Package: gtklock
Architecture: linux-any
Depends: ${misc:Depends},
Provides: gtklock
Description: gtk based wayland lock screen
